temp/flows/PhoneVerifyUI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckVerificationCode</name>
        <label>CheckVerificationCode</label>
        <locationX>185</locationX>
        <locationY>386</locationY>
        <actionName>PhoneVerificationStatusHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CodeVerificationStatus</targetReference>
        </connector>
        <inputParameters>
            <name>verificationCode</name>
            <value>
                <elementReference>Verification_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>ToPhone</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>VerificationStatus</assignToReference>
            <name>status</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CodeVerificationResult</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>InitiatePhoneVerification</name>
        <label>InitiatePhoneVerification</label>
        <locationX>188</locationX>
        <locationY>159</locationY>
        <actionName>PhoneVerificationHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VerifyVerificationCode</targetReference>
        </connector>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>ToPhone</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>InitiateStatus</assignToReference>
            <name>status</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>assignToPhone</name>
        <label>assignToPhone</label>
        <locationX>407</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>ToPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtToPhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InitiatePhoneVerification</targetReference>
        </connector>
    </assignments>
    <interviewLabel>PhoneVerifyUI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PhoneVerifyUI</label>
    <processType>Flow</processType>
    <screens>
        <name>CodeVerificationStatus</name>
        <label>CodeVerificationStatus</label>
        <locationX>186</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Verified</name>
            <fieldText>Verification outcome:
{!CodeVerificationResult}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PhoneVerification</name>
        <label>PhoneVerification</label>
        <locationX>188</locationX>
        <locationY>29</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignToPhone</targetReference>
        </connector>
        <fields>
            <name>txtToPhoneNumber</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VerifyVerificationCode</name>
        <label>VerifyVerificationCode</label>
        <locationX>186</locationX>
        <locationY>273</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckVerificationCode</targetReference>
        </connector>
        <fields>
            <name>Verification_Code</name>
            <dataType>String</dataType>
            <fieldText>Verification Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>PhoneVerification</startElementReference>
    <status>Active</status>
    <variables>
        <name>CodeVerificationResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InitiateStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ToPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationReturnStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
